*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
    color: #FFFFFF;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(#8222c2, rgb(224, 80, 224));
}